

.mainHeader {
     /* background-color: url (../Media/images/bg-curve-desktop.svg); */
     width: 100%;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;     
}

 .headerHold {
     /* background-color: #123456; */
     width: 90%;
     height: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .navDivs {
     /* background-color: skyblue; */
     width: 350px;
     color: #123456;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 .Navigation {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 350ms;
 }

 .Navigation:hover {
     color: skyblue;
     cursor: pointer;
     transform: scale(1.1);
 }

 .Navigation span {
     margin-left: 6px;
     font-weight: 700;
 }

 .logoDiv img {
     width: auto;
     height: auto;
 }

 .burgerIconHold {
     display: none;
 }

 .burgerContentHold {
     display: none;
 }

 @media screen and (max-width: 678px) {
    .burgerIconHold {
    display: block;
 }

 
 .navDivs {
    display: none;
} 

.burgerContentHold {
    display: block;                               
}

}