.footerSection {
    background-color: #000957;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerHold {
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent {
    width: 100%;
    height: 100%;
}

.footerLogo {
    padding-top: 90px;
    color: #fff;
}

.contactAndabout {
    display: flex;
    justify-content: space-between;

}

.Socials {
    width: 7%;
    display: flex;
    justify-content: space-between;

}